# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules
node_modules/
/frontend/build
**/.idea
**/.gradle
**/build
**/out
**/dist/*
**/*.iml
**/.DS_Store
**/node_modules
**/*.ipr
**/*.iws
**/target